#about-project {
  .about-project-card {
    background-color: #E7D4B2;
    padding: 2rem;

    .about-project-card__image {

      &::after {
        content: '';
        width: 100%;
        background: linear-gradient(0deg, rgb(231, 212, 178) 0%, rgba(255, 255, 255, 0) 70%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: -1px;
      }

      @media (min-width: 768px) {
        width: 18rem;

        img {
          position: absolute;
          left: 0;
          right: 0;
          bottom: -2rem;
        }

        &::after {
          bottom: -2rem;
        }
      }
      @media (max-width: 767.999px) {
        img {
          margin-top: -3rem;
        }
      }
    }
  }
}
