#release {
  .release__content p:last-child {
    margin-bottom: 0;
  }

  iframe {
    height: 9rem;
    background-image: url('../../assets/loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 6.25rem;
  }

  @media (min-width: 768px) {
    .release__tracklist-area ul {
      column-count: 2;
      column-gap: 2rem;
    }
  }

  .release__tracklist-selector label {
    display: inline-block;
    color: $gray;
    cursor: pointer;
    border: 0.125rem solid transparent;
    border-radius: 1.5rem;
    border-style: dashed;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

    &:hover {
      color: $gray !important;
      background-color: $white;
    }
  }

  .release__tracklist-selector input:checked + label {
    color: $white;
    border-color: $white;
    border-style: solid;
  }
}

#releases {
  .release__card {
    color: $black;
    background-color: $light-gray;
    transition: all 0.2s ease-in-out;

    img {
      border: transparent 2px solid;
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      color: $white;
      background-color: $black;

      img {
        border-color: $white;
      }
    }
  }
}
