@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

$white: #FFF;
$black: #0E181D;
$light-gray: #F1F1F1;
$gray: #808080;

$primary: #231CF5;
$secondary: #808080;
$body-bg: $white;
$body-color: $black;
$font-family-sans-serif: 'Fredoka', 'Helvetica', sans-serif;
$font-weight-normal: 300;
$font-weight-bold: 400;
$font-weight-bolder: 500;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);
